#
####### use pip install -r requirements.txt #######
#
###### Requirements without Version Specifiers ######
pympler
numpy
scikit-image
scikit-learn
matplotlib
pillow
scipy
pprocess
pandas
pymongo
#validators
SimpleITK
opencv-python
protobuf
#h5py
#keras
#theano


#
###### Requirements that have to be installed by apt-get install ######
# python-tk

--------------------------------------------------------------------------------------------------------------------------
# About Install packages for ubuntu 14.04
> $ sudo apt-get update
  $ sudo apt-get upgrade
## Install pip and check version
  $ sudo apt-get python-pip
  $ pip -V

### Upgrade pip
  $ pip install --upgrade pip
  $ pip install -U pip

### Remove pip 
  $ sudo apt-get remove python-pip

 ## Install python
  $ sudo apt-get install python
If python is already the newest version.
could be occur:
Reading package lists... Done
Building dependency tree       
Reading state information... Done
python is already the newest version.
python set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 6 not upgraded.

#
####### use pip install -r requirements.txt #######
#
###### Requirements without Version Specifiers ######
pympler
numpy
scikit-image
scikit-learn
matplotlib
pillow
scipy
pprocess
pymongo
validators
SimpleITK
opencv-python
protobuf
h5py
keras
theano


#
###### Requirements that have to be installed by apt-get install ######
# python-tk


-------------------------
when i install scikit-image, get an ERROE that below, i use the <br>
```
sudo apt-get install aptitude
aptitude install python-dev
```
ERROR
```
Collecting decorator>=3.4.0 (from networkx>=1.8->scikit-image)
  Using cached decorator-4.0.11-py2.py3-none-any.whl
Building wheels for collected packages: subprocess32
  Running setup.py bdist_wheel for subprocess32 ... error
  Complete output from command /usr/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-ilr4m5/subprocess32/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" bdist_wheel -d /tmp/tmpKeV1yOpip-wheel- --python-tag cp27:
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build/lib.linux-x86_64-2.7
  copying subprocess32.py -> build/lib.linux-x86_64-2.7
  running build_ext
  building '_posixsubprocess' extension
  creating build/temp.linux-x86_64-2.7
  x86_64-linux-gnu-gcc -pthread -fno-strict-aliasing -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -fPIC -I/usr/include/python2.7 -c _posixsubprocess.c -o build/temp.linux-x86_64-2.7/_posixsubprocess.o
  _posixsubprocess.c:3:20: fatal error: Python.h: No such file or directory
   #include "Python.h"
                      ^
  compilation terminated.
  error: command 'x86_64-linux-gnu-gcc' failed with exit status 1
  
  ----------------------------------------
  Failed building wheel for subprocess32
  Running setup.py clean for subprocess32
Failed to build subprocess32
Installing collected packages: subprocess32, cycler, python-dateutil, functools32, pytz, pyparsing, matplotlib, decorator, networkx, scikit-image
  Running setup.py install for subprocess32 ... error
    Complete output from command /usr/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-ilr4m5/subprocess32/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /tmp/pip-laP6bG-record/install-record.txt --single-version-externally-managed --compile:
    running install
    running build
    running build_py
    creating build
    creating build/lib.linux-x86_64-2.7
    copying subprocess32.py -> build/lib.linux-x86_64-2.7
    running build_ext
    building '_posixsubprocess' extension
    creating build/temp.linux-x86_64-2.7
    x86_64-linux-gnu-gcc -pthread -fno-strict-aliasing -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -fPIC -I/usr/include/python2.7 -c _posixsubprocess.c -o build/temp.linux-x86_64-2.7/_posixsubprocess.o
    _posixsubprocess.c:3:20: fatal error: Python.h: No such file or directory
     #include "Python.h"
                        ^
    compilation terminated.
    error: command 'x86_64-linux-gnu-gcc' failed with exit status 1
```
